body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

div {
  box-sizing: border-box;
}

.main_container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.main_container80{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*
 *******************************
 *         HEADER BAR          *
 *******************************
 */
.bar.bar-custom {
    border-color: #8e44ad;
    background-color: #9b59b6;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    color: #fff; 
}
.bar.bar-custom .title {
    color: #fff;
}
.bar.bar-custom.bar-footer {
    background-image: linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%); 
}

.bar-custom .button {
  border-color: transparent;
  background-color: #9b59b6;
  color: #fff; }
  .bar-custom .button:hover {
    color: #fff;
    text-decoration: none; }
  .bar-custom .button.active, .bar-positive .button.activated {
    background-color: #0c60ee; }
  .bar-custom .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
  .bar-custom .button.button-icon {
    border-color: transparent;
    background: none; }

/*
 ********************************
 *            TABS              *
 ********************************
 */

.tabs-custom > .tabs,
.tabs.tabs-custom {
  border-color: #8e44ad;
  background-color: #9b59b6;
  background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
  color: #fff; }
  .tabs-custom > .tabs .tab-item .badge,
  .tabs.tabs-custom .tab-item .badge {
    background-color: #9b59b6;
    color: #fff; }

.tabs-striped.tabs-custom .tabs {
  background-color: #9b59b6; }

.tabs-striped.tabs-custom .tab-item {
  color: #fff;
  opacity: 1; }
  .tabs-striped.tabs-custom .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-custom .tab-item.tab-item-active, .tabs-striped.tabs-custom .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #9b59b6; }




.button-pressed{
    background-color: #9b59b6 !important;
}

@media screen and (max-width: 480px){
    .buttonSubject{
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10% !important;
        background-color: #EADCEF !important;
        font-size: 1.5em;
        padding-top: .5em;
        padding-bottom: .5em;
        color:#671189 !important;
        box-shadow: 0 1.5px 2.5px 0 #671189, 0 1.25px 3px 0 #671189;
    }
    .button-borders{
        border-radius: 10px 25px;
    }

    .buttonSubjectLevels{
        width: 70% !important;
        margin: auto;
        margin-top: 10% !important;
        background-color: #EADCEF !important;
        font-size: 1.5em;
        color:#671189 !important;
        box-shadow: 0 1.5px 2.5px 0 #671189, 0 1.25px 3px 0 #671189;
    }
    button.button-block.buttonSubject.button-borders{
        padding-top: 0em;
        padding-bottom: 0em;
    }
    p.buttonNameLevel{
        margin-top: auto;
        margin-bottom: 0;  
    }
    .row.smallCircles{
        padding-top: 0em;
    }

    /*********   EXERCISE   *********/
   
    .exerciseButton.button.button-royal{
        width: 50% !important;
    }

    div#fila.row{
        margin-top: 1.5em !important;
    }

    .circleImg{
        flex:1;
        display:block;
        padding:5px;
        width:50%;
    }

    #textoEjercicio{
        margin-top: 2em;
        padding-top: 1.5em;
        text-align: justify;
    }
    .exercise-question{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        text-align: center;
    }

    #tituloEjercicio{
        text-align: center;
    }
    #ejercicio-button13{
        margin-right: .5em;

    }

    /*********   TEST   *********/
    .button.button-block.button-stable.testButton{
        background-color: #E8D5EF;
        box-shadow: 0 3px 5px 0 #A4A4A4, 0 2.5px 6px 0 #A4A4A4;
        border-radius: 4px 4px 4px 4px !important;
    }
    h3.questionNum{
        text-align:center;
        margin-top:10px;
    }

}

@media screen and (min-width: 481px){
     /*
     ********************************
     *            Botones           *
     ********************************
     */
    .buttonSubject{
        width: 70% !important;
        /*border:1px solid #6e1193 !important; /*#99ff66*/
        margin: auto;
        margin-top: 10% !important;
        background-color: #EADCEF !important;/*e8d5ef  351840*/
        font-size: 2.5em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        color:#671189 !important;
        box-shadow: 0 3px 5px 0 #671189, 0 2.5px 6px 0 #671189;
    }
    .button-borders{
        border-radius: 15px 50px;
    }
    .buttonSubjectLevels{
        width: 70% !important;
        /*border:1px solid #6e1193 !important; /*#99ff66*/
        margin: auto;
        margin-top: 10% !important;
        background-color: #EADCEF !important;/*e8d5ef  351840*/
        font-size: 1em;
       /* padding-top: 1em;
        padding-bottom: 1em;*/
        color:#671189 !important;
        box-shadow: 0 1.5px 2.5px 0 #671189, 0 1.25px 3px 0 #671189;
    }
}

/*
 ********************************
 *            Niveles           *
 ********************************
 */

 .button-levels{
    width: 70% !important;
    border:2px solid #9b59b6 !important; /*#99ff66*/
    margin: auto;
    margin-top: 10% !important;
    font-size: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;/*#9b59b6**/
    color:#9b59b6 !important;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1.5px 5px 0 rgba(0,0,0,0.19);

 }

 /*
 *****************************************
 *            Lista Ejercicios           *
 *****************************************
 */

.list-custom {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    counter-reset: li;
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
}

li.list-item{
    position: relative;
    display: block;
    padding: 1em 1em 1em 2.6em;
    *padding: .4em;
    margin: .5em 0;
    margin-top: 5%;
    background: #EADCEF;
    color: #444;
    text-align: center;
    text-decoration: none;
    border-radius: .3em;  
}

li.list-item:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1em;
    top: 40%;
    margin-top: -1.5em;
    background: #9b59b6 !important;
    height: 3.6em;
    width: 3.6em;
    line-height: 1em;
    border: .5em solid #fff;
    border-radius: 2em;
    text-align: center;
    font-weight: bold;
    color:#9b59b6;
}

/*
 **********************************
 *            TheoryDetail        *
 **********************************
 */
 .tituloTeoria{
    text-align: center; 
 }
 .textoTeoria{
    padding-top: 1.5em;
    text-align: justify;
 }

 div.detalleTeoria{
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
 }
 hr{
    background-color: #9b59b6;
    width: 100%;
 }
/*body{
    width: 100%;
    min-width: 240px;
    max-width: 2560px;
    min-height: 320px;
    max-height: 2560px;
}
.spinner {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 300;
}

.spinnerBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.3;
}

.spinnerSpinner {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    top: 50%;
    width: 80px;
    height: 80px;
}

.spinnerSpinner svg {
    width: 80px;
    height: 80px;
    stroke: #b59751;
}
.button.button-energized.button-outline{
    margin-top:70px;
    ---height:135px;---
}
---.button.button-outline{
    height:120px;
    width:335px;
    margin-left:12px;
    margin-right:12px;
    margin-bottom:23px;
}----
.button.button-outline.button-block.button-large.button-dark{
    height:120px;
    width:80%;
    margin-left:12px;
    margin-right:12px;
    margin-bottom:23px;
}

#Theory.button.button-outline.button-block.button-large.button-energized{
    margin-top:90px;
}
.item{
    margin-top:15px;
    width:335px;
    margin-left:12px;
}
#showLevel p{
    padding-top:20px; 
    padding-bottom:0px; 
    margin-bottom:0px;
    font-size:28px;
    height:65px;  
}

--------------------------------------------------------------
.col{
    display:inline;

}
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 480px) {

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 800px) {

    .col-med-1 {width: 8.33%;}
    .col-med-2 {width: 16.66%;}
    .col-med-3 {width: 25%;}
    .col-med-4 {width: 33.33%;}
    .col-med-5 {width: 41.66%;}
    .col-med-6 {width: 50%;}
    .col-med-7 {width: 58.33%;}
    .col-med-8 {width: 66.66%;}
    .col-med-9 {width: 75%;}
    .col-med-10 {width: 83.33%;}
    .col-med-11 {width: 91.66%;}
    .col-med-12 {width: 100%;}
}
div.row.circles.col-m-12{
    margin: auto;
    padding padding-left: 5%;
}
p.exerciseHeading{
    width: 80%;
    height:1.5%;150px
    padding:0.15%;15px
    padding-bottom:0%;0px
    margin-bottom:0%;0px
        margin: auto;
    padding-top:0.1%;10px
}
h3.questionNum{
    text-align:center;
    margin-top:10px;10px
}
div.calculateExercise{
    margin-top:50%;
}
div.buttonRow{
    padding-top:0.03%;14px
    width: 80%;
    margin: auto;
}

button.col-m-6.col-med-6.button.button-small.button-outline.button-royal.ebutonOption{
    padding-top: 10px;
    font-size:18px;   
}

#types, #typesTotal{
   margin:0px;
   text-align:center;
}
div.calcularEjercicio{
    padding-top: 45%;
    margin:auto;
}

div.item.item-body.boxOperations{
    border-color:darkgray;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
    height:65%;
    width: 100%;
}
div.row.rowTextbox2{
    padding-top:5px;
    margin: auto;
    width:180px;
}
div.row.rowTextbox3{
    padding-top:5px;
    margin: auto;
    width:263px;
}
div.row.rowTextbox4{
    padding-top:5px;
    margin: auto;
    width:350px;
}

input.col.col-m-3.col-med-3.item.item-input.AaClass{
    margin:auto;
    border:1px solid #886aea;
    width:85px;   
}
button.col-50.button.button-small.button-royal{
    margin-right: 3px;
    font-size: 17px;
}
input.col.col-90.item.item-input.ThreeinputClass{
    margin:auto;
    border:1px solid #886aea;
    width:85px;   
}
input.col.col-90.item.item-input.FourinputClass{
    margin:auto;
    border:1px solid #886aea;
    width:85px;   
}

#valueTotal,#typesTotal{
    margin-top: 5px;
    text-align: center;
}
div.row.DataRow{
    margin:auto;
    width: 96%;
    height: 40%
}
.col.col-75.chiiResult{
    width: 148px;
    display: inline;
}
div.col.col-m-3.col-med-3.total{
    display: block;
}
p.resultadoCHI{
    width: 80px;
}
p.agreeText{
    margin-top: 3px;
    margin-bottom: 3px;
}
div.col.col-m-3.col-med-3.agree{
    display: block;
    text-align: center;
}
p.Chii{
    margin-top: 5%;
}
p#result{
    margin-top: 5%;
}
div.col.col-m-3.col-med-3.Function, div.colcol-m-3.col-med-3.Result{
    text-align: center;
}
*/

/*
 **********************************
 *            Exercise            *
 **********************************
 */
.pinto_verde{
    
    background-color: #E7EF47 !important;
}

.pinto_rojo{
    
    background-color:crimson !important;
}
div.row.previous-next{
    
    padding-top: 10%;
    margin: auto;
    width: 50%;
}
.button.icon-right.ion-chevron-right.button-dark{
    background-color: #9C59B6 !important;
    margin-top: 30px !important;
    margin-left:50% !important;
    width:50% !important;
}
/*

---------------------------------------------------------------------------------
*{
    box-sizing: border-box;
}
.row.content{
    display:block;
}
.question.col-m-10{
    margin: auto;
}

h3{
    text-align: center;
}
div.button-bar.cleanCalculate{
    width: 80% !important;
    margin: auto !important;
}
#buttonCalculate{
    margin-right: 2%;
}
*/

/*
 **********************************
 *           Config           *
 **********************************
 */


/*
 **********************************
 *           Teoria           *
 **********************************
 */
.text_button_theory {
 
  font: 20px 'trebuchet MS', 'lucida sans' !important;

 }