<ion-view title="{{title}}">
    <ion-content class="main_container">
        <!--Cambiado-->
		<ion-scroll>
		   <ion-slide-box ng-init="indexSlide()">
				<ion-slide ng-repeat="teoria in listaTeoria">
					<h1 class="tituloTeoria"> {{teoria.titulo}} </h1>
					<hr>
					<p class = "textoTeoria"> {{teoria.texto}} </p>

					<div ng-repeat="imagen in teoria.imagenes" align ="center">
							<img ng-src = "app/assests/img/{{path}}/{{imagen.nombre}}" height="160px"" width="320px">
					</div>
						
				</ion-slide> 
		   </ion-slide-box>     
		</ion-scroll> 
   </ion-content>
</ion-view>  

