   <!-- ng-click="pasarNivelId(nivel.nivel)"-->

   <ion-view title="{{title}}">
    <ion-content class="main_container">
        <ion-list>
            <!--class="button button-block button-levels button-borders"-->
            <button ng-repeat="nivel in listaNiveles" class="button button-block buttonSubject button-borders" id="showLevel_{{nivel.level}}" ng-click="getNivelId(nivel.level)" ui-sref='home.categories.2.Exerlist'>
                <p class="buttonNameLevel"> Nivel {{nivel.level}}</p>                 
                <div class="row smallCircles" ng-init="size = score(nivel.size)" ng-include="'app/templates/_score_exercises.html'"></div>
            </button>
        </ion-list>   
    </ion-content>

</ion-view title>