
   <!-- ng-click="pasarNivelId(nivel.nivel)"-->

   <ion-view title="{{title}}">
    <ion-content class="main_container">
        <ion-list>
            <!--class="button button-block button-levels button-borders"-->
            <button ng-repeat="nivel in listaNiveles" class="button button-block buttonSubject button-borders" id="showLevel_{{nivel.level}}" ng-disabled = "active_button(nivel, $index)" ng-click="getNivelId(nivel)" ui-sref='home.categories.2.Exerlist'>
                <p class="buttonNameLevel"> Level {{nivel.level}}</p>                 
                <div class="row smallCircles" ng-init="balls = score(nivel)"  ng-include="'app/templates/_score_exercises.html'"></div>
            </button>
        </ion-list>   
    </ion-content>
</ion-view>