<ion-view cache-view="false" title="{{title}}">
 <ion-content class="main_container">    
    
 <ion-list>
   <!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
    <button class="button button-block buttonSubject button-borders" ng-repeat="tema in temas"  ng-animate="'animate'"  ng-click="getTemaId(tema.id)"  ui-sref='home.categories'>
        {{tema.name}}
        
    </button>    
           
     </ion-list>    
 </ion-content>
</ion-view>