<!-- Mirar otros html -->
<body ng-controller="loginController"> <!-- no se si es este controller -->
    <div class="list" >
        <label class="item item-input" id="user">
            <input type="text" placeholder="User">
        </label>
        <label class="item item-input" id="pass">
            <input type="text" placeholder="Password">
        </label>
        <button class="button button-energized">
           Login
        </button>
        <button class="button button-clear button-energized" id="register" >
            Register
        </button>
    </div>
</body>
