<ion-view title="{{title}}">

    <ion-content class="score">
        <div>
            <!--ul class="list-custom"-->
                <li class="animated bounceInLeft list-item" item-icon-right ng-repeat="score in score" ui-sref='home.categories.3.score'>
                    <label class="item item-input" id="questions">
                        Questions: {{score.total}}
                    </label>

                    <label class="item item-input" id="correctAnswers">
                        Correct Answers: {{score.aciertos}}
                    </label>

                    <label class="item item-input" id="incorrectAnswers">
                        Wrong Answers: {{score.fallos}}
                    </label>

                    <label class="item item-input" id="total">
                        Total Score: 
                    </label>    
                </li>
            <!--/ul-->
        </div>
        <button class="item" ui-sref='home.categories.3.score' ng-click="endTest()">
                Ok
        </button>
    </ion-content>
</ion-view>