<!---<ion-tabs class="tabs-icon-top tabs-top tabs-custom">
 
      <ion-tab title="Home" icon="ion-home"   href="#/tab/home">              
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="About" icon="ion-information-circled" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Contact" icon="ion-earth" ui-sref="tabs.contact">
        <ion-nav-view name="contact-tab"></ion-nav-view>
      </ion-tab>

   
</ion-tabs>-->

  <ion-nav-view name="home-tab"></ion-nav-view>
