<ion-view title="{{title}}">
    <ion-content>
        <div class="row">
            <div class="col" id="levelCol">
                <img src="app/assests/img/filled13.png">
            </div>
            <div class="col">
                <img src="app/assests/img/filledRed.png">
            </div>
            <div class="col">
                <img src="app/assests/img/filled13.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
        </div>
      
        <div class="slide-animate-container">
           
             <div class="slide-animate" ng-include="app/templates/_body_test.html"></div>

        </div>

        <a class="button icon-right ion-chevron-right button-dark"  ng-show="used" ng-click="next()">Next</a>
             
    </ion-content>

    </ion-view>