<ion-view title="{{title}}">
    <ion-content>
        <div class="row">
            <div class="col" id="levelCol">
                <img src="app/assests/img/filled13.png">
            </div>
            <div class="col">
                <img src="app/assests/img/filledRed.png">
            </div>
            <div class="col">
                <img src="app/assests/img/filled13.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
            <div class="col">
                <img src="app/assests/img/plain16.png">
            </div>
        </div>
        <h3 id="questionNum">
            
            Question {{listaPreguntas[index].numero}}
        </h3>
        <p id="exerciseHeading">
            {{listaPreguntas[index].enunciado}}
        </p>
       
       <!-- <section title=".roundedOne">-->
   
        <ion-list >

            <button class="button button-block  button-stable" ng-repeat="option in listaOpcionesTest" ng-click="validate(option)">
                    {{option.nombreOp}}
            </button>
                     
        </ion-list>

      
    getitem(id)...
    </ion-content>

    </ion-view>