<ion-view title="{{title}}">

    <ion-content class="padding">
        <ion-list >
             <button class="animated bounceInLeft button button-block button-levels button-borders" item-icon-right ng-repeat="teoria in listaTeoria" ui-sref='home.categories.1.detail' ng-click="getTheory(teoria)">
               <!-- {{teoria.id}}--> 

               <p class ="text_button_theory">{{teoria.titulo}}</p>

            </button>
            
        </ion-list>
    </ion-content>
</ion-view>  
